/*
TODO: Update colourscheme.
*/
body {
    background-color: lightgrey;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 474px;
    clear: both;
    margin: auto;
}

#score-board {
    text-align: center;
}

#score-board > * {
    width: 33.3333%;
    float: left;
}

#new-game {
    margin-top: -2px;
}

#game-board {
    height: 474px;
    width: 474px;

    padding: 4px;

    border-radius: 5px;

    background-color: slategrey;
}

.row {
    float: left;
    clear: both;
}

/*
TODO: Add flipping animation to tiles.
*/
.tile {
    float: left;

    height: 150px;
    width: 150px;

    margin: 4px;

    border-radius: 5px;

    background-color: whitesmoke;

    cursor: pointer;
}

.tile:hover {
    box-shadow: 0 0 5px white;
}

.marked {
    background-color: darkgrey;
}

#credits {
    text-align: center;
}