/*
TODO: Update colourscheme.
*/
body {
    background-color: lightgrey;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 474px;
    clear: both;
    margin: auto;
}

#score-board {
    text-align: center;
}

#score-board > * {
    width: 33.3333%;
    float: left;
}

#new-game {
    margin-top: -2px;
}

#game-board {
    height: 474px;
    width: 474px;

    padding: 4px;

    border-radius: 5px;

    background-color: darkgrey;
}

.row {
    float: left;
    clear: both;

    /* Fix to keep tiles clickable. */
    -webkit-transform: rotateY(0);
    -moz-transform:    rotateY(0);
    -ms-transform:     rotateY(0);
    -o-transform:      rotateY(0);
    transform:         rotateY(0);
}

.tile {
    float: left;

    height: 150px;
    width: 150px;

    margin: 4px;

    border-radius: 5px;

    background-color: whitesmoke;

    cursor: pointer;

    /* Control flipping and highlighting transitions. */
    -webkit-transition: .2s -webkit-transform, .2s background-color, 0s box-shadow;
    -moz-transition:    .2s -moz-transform,    .2s background-color, 0s box-shadow;
    -o-transition:      .2s -o-transform,      .2s background-color, 0s box-shadow;
    transition:         .2s transform,         .2s background-color, 0s box-shadow;

}

.tile:hover {
    box-shadow: 0 0 5px white;
}

.marked {
    background-color: grey;

    /* Card flipping transformation. */
    -webkit-transform: rotateY(180deg);
    -moz-transform:    rotateY(180deg);
    -ms-transform:     rotateY(180deg);
    -o-transform:      rotateY(180deg);
    transform:         rotateY(180deg);
}

#credits {
    text-align: center;
}